.
.container {
	margin-top: 20px;
	background-color: azure;
}

.
.row {
	margin-left: 100px;
	margin-top: 40px;
}

.
.alert {
	margin-top: 20px;
}

.
.alert1 {
	margin-top: 20px;
}

.
.btn2 {
	background-color: darkseagreen;
	font-size: 16px;
	padding: 15px;
}

.
.container1 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.
.contain2 {
	margin-top: 50px;
}

.
.submission {
	margin-top: 50px;
}

form {
	
}

.
.notification {
	margin-left: 0px;
}

.
.alert-info {
	padding: 40px;
}

.
.submissiondetail {
	margin-top: 50px;
}

.
.card {
	margin-right: 40px;
	margin
}

.
.courseinfo {
	margin-left: 0px;
}

.
.scheduletable {
	
}

.
.scheduleinfo {
	margin-left: 10px;
	margin-top: 40px;
}

.
.info {
	margin-left: -70px;
}

.
.table {
	
}