<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<!-- header here-->
<head>
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    charset="utf-8">

<!--icon link-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<th:block th:replace="fragments/header ::head"></th:block>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    type="text/css">

<title>student grade page</title>

</head>

<!-- body here -->
<body>
	<div th:insert="fragments/header ::umdHeader" class='no-print'></div>

	<div class="container">
	
        <div th:replace="fragments/header ::ezcommHeader" class='no-print'></div> <br />
		
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
		<h3 class="text-center" style="margin-top: 50px">Select a semester</h3>

		<!-- Single button -->
		<div class= "row"> 
		<div class="col-sm-3"></div>
			<div class="btn-group" style="width:50%;height:100%;margin-top:50px; ">
		    	<select class="form-control" name = "algorithm">
		      	<option>Fall 2017</option>
		   	  	<option>Spring 2017</option>
		   	  	<option>Fall 2016</option>
		   	  	<option>Spring 2016</option>
		     
		   		</select>
			</div>
		</div>
		<!-- Table Here -->
		<table class="table" style="margin-top: 50px">
  		<thead>
    		<tr class="active">
      		<th>Course</th>
      		<th>Grade</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
	    		<td>ENPM 613</td>
	    		<td>A+</td>
    		</tr>
    		<tr>
	    		<td>ENPM 696</td>
	    		<td>A</td>
    		</tr>
  		</tbody>
		</table>
		</div><!-- end of "col-sm-8" -->
		<div class="col-sm-2"></div>
</div><!-- end of "row" --> 

</div><!-- end of container -->
</body>




<!-- footer here -->
<footer>
	<div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>

</html>