

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- header here -->
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
	charset="utf-8">
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/filemanager.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/dataTable.js}"></script>

<!--icon link-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<th:block th:replace="fragments/header ::head"></th:block>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	type="text/css">

<title>Student Course Page</title>

</head>

<!-- body here -->
<body>
	<div th:insert="fragments/header ::umdHeader" class='no-print'></div>

	<div class="container">

		<div th:replace="fragments/header ::ezcommHeader" class='no-print'></div> <br />

		<ul class="nav nav-tabs">
			<li class="nav-item">
			     <a class="nav-link active" href="#courseInfo" role="tab" data-toggle="tab">Course Information</a>
			</li>
			<li class="nav-item">
			     <a class="nav-link" href="#assignment" role="tab" data-toggle="tab">Assignment</a>
			</li>
			<li class="nav-item">
			     <a class="nav-link" href="#grade" role="tab" data-toggle="tab">Grade</a>
			</li>
		</ul>

		<div class="tab-content">
		
		<!-- assignment -->

			<div class="tab-pane fade show active" id="courseInfo" role="tabpanel">
				<div>
                    <br><br><br><h2>Course Syllabus</h2>
             		<span><a th:if="${published}" onclick="downloadSyllabusFile('downloadSyllabus')" href="javascript:void(0)" title="Click here to download the current syllabus for this course">Click here to download the current syllabus for this course</a></span>
             		<span th:if="!${published}">No Syllabus available for this course.</span>					
					<form id = "downloadSyllabus" action = "downloadSyllabus"><input id="downloadSyllabusInfo" th:value=${courseId} type="hidden" name="fileName"></form>
					<input type="hidden" id=courseId name=courseId th:value=${courseId}></input>                    
				</div>
				<!-- end of row notification -->

			</div> <br /> <br />
			<!-- end of assignmentDetail Page -->

			<div role="tabpanel" class="tab-pane fade show" id="assignment">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong th:text="${todoAssignNum}"></strong> new assignments; 
					<strong th:text="${doneAssignNum}"></strong> completed assignments.
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

                <div class="container container1">
                    <h2 style="text-align:center; color:red">Upcoming Assignment(s)</h2> <br />
                    
                    <table class="table table-hover">
                        <thead>
                           <tr>
                                <th> Assignment</th>
                                <th> Published Date</th>
                                <th> Due Date</th>
                           </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="assi : ${todoAssignments}">
                                <tr>
                                    <td th:text="${assi.id}"></td>
                                    <td th:text="${assi.publishTime}"></td>
                                    <td th:text="${assi.due}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                
                <div class="container container1">
                    <h2 style="text-align:center">Completed Assignment(s)</h2> <br />
                    
                    <table class="table table-hover">
                        <thead>
                           <tr>
                                <th> Assignment</th>
                                <th> Create Time</th>
                                <th> Due Date</th>
                                <th> Grade</th>
                           </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="assi : ${doneAssignments}">
                                <tr>
                                    <td th:text="${assi.id}"></td>
                                    <td th:text="${assi.publishTime}"></td>
                                    <td th:text="${assi.due}"></td>
                                    <td th:text="${assi.grade}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>

			</div> 

			<div role="tabpanel" class="tab-pane fade show" id="grade">
				<div class="container container1">
                    <h2 style="text-align:center">Grade List</h2> <br />
                    
                    <table id="gradeTable" class="display">
                        <thead>
                           <tr>
                                <th> Assignment</th>
                                <th> Grade</th>
                                <th> Course Name</th>
                           </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="assi : ${assignmentGradeList}">
                                <tr>
                                    <td th:text="${assi.id}"></td>
                                    <td th:text="${assi.grade}"></td>
                                    <td th:text="${assi.courseName}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
				</div>
			</div>
			
		</div>
	</div> <br /> <br />
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<!-- footer here -->
<footer>
	<div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>

</html>


