<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- header here -->
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
	charset="utf-8">

<!--icon link-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<th:block th:replace="fragments/header ::head"></th:block>

<link rel="stylesheet" th:href="@{/resources/css/jquery.dataTables.min.css}" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/dataTable.js}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css">

<title>student course page</title>

</head>

<!-- body here -->
<body>
	<div th:insert="fragments/header ::umdHeader" class='no-print'></div>

	<div class="container">

		<div th:replace="fragments/header ::ezcommHeader" class='no-print'></div> <br />

		<ul class="nav nav-tabs">
			<li class="nav-item">
			     <a class="nav-link active" href="#courseInfo" role="tab" data-toggle="tab">Course Information</a>
			</li>
			<li class="nav-item">
			     <a class="nav-link" href="#assignment" role="tab" data-toggle="tab">Assignment</a>
			</li>
			<li class="nav-item">
			     <a class="nav-link" href="#grade" role="tab" data-toggle="tab">Grade</a>
			</li>
		</ul>

		<div class="tab-content">
		
		<!-- assignment -->

			<div class="tab-pane fade show active" id="courseInfo" role="tabpanel">
				<div class="login_padding">
                    
                    <h2>Course Syllabus</h2>
					<object th:href="@{/resources/file/S611.pdf}" type="application/pdf" width="50%"
						height="50%">
						<p>
							<a th:href="@{/resources/file/S611.pdf}">Syllabus!</a>
						</p>
					</object>
					<form action="" method="post">
					    
						<h3 class="txt_input txt_input2">Upload syllabus:</h3>
						<label> <input type="file" accept="application/pdf" />
						</label> 
						<label><input type="Submit" value="Upload"></label>
						<label><a href="#">Cancel</a></label>
						
					    <h3>Download syllabus:</h3>
                        <label> <input type="file" accept="application/pdf" />
                        </label> <input type="Submit" value="download">
					</form>

				</div>
				<!-- end of row notification -->

			</div> <br /> <br />
			<!-- end of assignmentDetail Page -->

			<div role="tabpanel" class="tab-pane fade show" id="assignment">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>Hi Emily!</strong> you have <strong>3</strong> assignment
					to do
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- for coming assignment -->

				<h4>
					<i class="material-icons" style="font-size: 36px">assignment</i>Coming
					Assignment
				</h4>

				<hr>

				<!-- first line for assignment-->
				<div class="row">
					<div class="col  col-sm-2">
						<button type="button" class="btn btn-outline-danger"
							title="due: 15/11/17" onclick="goAssignmentDetailPage()">Assignment1</button>
					</div>
					<div class="col  col-sm-2">
						<button type="button" class="btn btn-outline-danger"
							title="due: 16/11/17">Assignment2</button>
					</div>
				</div> <br />

				<!-- for former assignment -->
				<h4>
					<i class="material-icons" style="font-size: 36px">assignment_turned_in</i>Former
					Assignment
				</h4>
				<hr>

				<!-- first line for fomar assignment -->
				<div class="row">
					<div class="col col-sm-2">
						<button type="button" class="btn btn-outline-success"
							title="Turn in at: 20/10/17">Assignment5</button>
					</div>
					<div class="col col-sm-2">
						<button type="button" class="btn btn-outline-success"
							title="Turn in a: 8/10/17">Assignment5</button>
					</div>
					<div class="col col-sm-2">
						<button type="button" class="btn btn-outline-success"
							title="Turn in at: 2/10/17">Assignment5</button>
					</div>
				</div>
			</div> <br /> <br />

			<div role="tabpanel" class="tab-pane fade show" id="grade">
				<div class="container container1">
                    <h2 style="text-align:center">Grade List</h2> <br /><br /><br />
                    
                    <table id="gradeTable" class="display">
                        <thead>
                           <tr>
                                <th> Assignment</th>
                                <th> Grade</th>
                                <th> Course Name</th>
                           </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="assi : ${assignmentGradeList}">
                                <tr>
                                    <td th:text="${assi.id}"></td>
                                    <td th:text="${assi.grade}"></td>
                                    <td th:text="${assi.courseName}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
				</div>
			</div>
			
		</div>
	</div> <br /> <br />
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<!-- footer here -->
<footer>
	<div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>

</html>


