<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Home of EZComm</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="fragments/header ::head"></th:block>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css">

</head>
<body>
    <div th:insert="fragments/header ::umdHeader" class='no-print'></div>
    
	<div class="container">
	
	   <div th:replace="fragments/header ::ezcommHeader" class='no-print'></div> <br/> <br/>
	   
		<div class="row">
		
		  <!-- Assignment lists -->
		  
			<div class="col-6 col-md-3">
				<div class="list-group">
					<div th:if="${assignmentNum} > 0" class="alert alert-danger" role="alert">New Assignment!! </div>
	                    <div th:each="assign : ${userAssignemnts}">
							<a href="#" class="list-group-item list-group-item-action">
							     <th:block th:utext="${assign.id}" class="list-group-item list-group-item-action"/> 
								 <small th:text="${assign.due}" class="text-muted"></small>
							</a>
					    </div>
				</div>
			</div>

            <!-- Course lists -->

			<div class="col col-6 col-md-5">
				<div class="col">
					<div class="card" style="width: 26rem;">
						<div th:each="course : ${userCourses}" class="card-body">
							<h4 th:text="${course.ID}" class="card-title">Course ID</h4>
							<p th:text="${course.Name}" class="card-text">Course Name</p>
							<a href="studentTabs" class="btn btn-warning">Enter the course</a>
						</div>
					</div>
				</div>
			</div>

            <!-- Message lists -->

            <div class="col-6 col-md-4">
                <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                <div th:if="${messageNum} > 0" class="alert alert-warning" role="alert">New Messages!!</div>

                <div class="list-group">
					<div th:each="message : ${userMessages}">
						<a href="#" class="list-group-item list-group-item-info list-group-item-action flex-column align-items-start active">
							<div class="d-flex w-100 justify-content-between">
								<h5 th:text="${message.senderName}" class="mb-2">sender name</h5>
								<small th:text="${message.receivedDate}">message received date</small>
								<p th:text="${message.content}" class="mb-1">Message content</p>
							</div>
						</a> <br />
					</div>
                </div>
                
            </div>
		</div>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

<br/> <div th:insert="fragments/footer ::footer" class='no-print'></div>

</html>