<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<!-- header here-->
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="fragments/header ::head"></th:block>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	type="text/css">



<title>grades</title>
</head>
<!-- body here -->

<body>
	<div th:insert="fragments/header ::umdHeader" class='no-print'></div>

	<div class="container">
		<div th:replace="fragments/header ::ezcommHeader" class='no-print'></div>


		<div class="container">

			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<h4 class="text-center" style="margin-top: 50px">Select a
						course and a semester</h4>
					<!-- Single button -->

					<div class="row">
						<div class="col-sm-6">
							<div class="btn-group"
								style="width: 100%; height: 100%; margin-top: 50px;">
								<select class="form-control" name="course">
									<option>ENPM 611</option>
									<option>ENPM 613</option>
								</select>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="btn-group"
								style="width: 100%; height: 100%; margin-top: 50px;">
								<select class="form-control" name="term">
									<option>Fall 2017</option>
									<option>Spring 2017</option>
									<option>Fall 2016</option>
									<option>Spring 2016</option>

								</select>
							</div>
						</div>
					</div>
					<!-- end of row -->

					<!-- Table Here -->
					<table class="table" style="margin-top: 50px">
						<thead>
							<tr class="active">
								<th>Student ID</th>
								<th>Grade</th>
							</tr>
						</thead>


						<tbody>
							<tr>
								<td>1234567</td>
								<td>A+</td>
							</tr>
							<tr>
								<td>7654321</td>
								<td>A</td>
							</tr>
							<tr>
								<td>2323565</td>
								<td>B</td>
							</tr>
							<tr>
								<td>1297547</td>
								<td>C</td>
							</tr>
							<tr>
								<td>8665978</td>
								<td>B+</td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- end of col-sm-8 -->
				<div class="col-sm-2"></div>
			</div>
			<!-- end of row -->

		</div>
	</div>
	<!-- end of container -->
</body>

<!-- footer here -->
<footer>
	<div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>

</html>