<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- header here-->
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="fragments/instructorHeader ::head"></th:block>

<link rel="stylesheet" th:href="@{/resources/css/jquery.dataTables.min.css}" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/filemanager.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jQuery_Alert.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/dataTable.js}"></script>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css">

<title>Instructor Course Page</title>
</head>


<body>
    <div th:insert="fragments/instructorHeader ::umdHeader" class='no-print'></div>
    
    <div class="container">
       
        <div th:replace="fragments/instructorHeader ::ezcommHeader" class='no-print'></div> <br />

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#syllabus" role="tab" data-toggle="tab">Syllabus</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="#student" role="tab" data-toggle="tab">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#assignment" role="tab" data-toggle="tab">Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#grading" role="tab" data-toggle="tab">Grading</a>
            </li>
        </ul>

     	<br><h3 class="txt_input txt_input2" th:text="${courseId}"></h3><br>
        <div class="tab-content">

                <div class="tab-pane fade show active" id="syllabus" role="tabpanel" >
			
					<!--the course information and teacher information-->
					<div class="row courseinfo">
						<div class="col-12 col-sm-6 col-md-8">
							<div class="card">
								<div class="card-header">
									<h4 class="mb-0">
										<i class="fa fa-info-circle" style="font-size: 24px"></i>
										Course Description
									</h4>
								</div>
								<div class="card-body">
										<p>Introduction to the Engineering and Computing
											professions, professional ethics. Overview of ECS curricula,
											connections among ECS fields and to the basics of sciences,
											other fields. Basic study, problem solving and other skills
											needed to succeed as an ECS major. Engineering design and
											quantitative methods using MATLAB. Multi-disciplinary team
											projects designed to replicate decision processes in
											real-world situations.</p>								
								</div>
							</div>
						</div>

						<div class="col-6 col-md-4 teacher">
							<div id="accordion" role="tablist">
								<div class="card">
									<div class="card-header">
										<h4 class="mb-0">
											<i class="fa fa-info-circle"
											style="font-size: 24px"></i>
											Intructor Information
										</h4>
									</div>
									<div id="collapseOne" class="collapse show" role="tabpanel"
										aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											Email:isososo@umd.edu<br> Office hours: Tue 5pm-7pm<br> 
											Office room: ...<br> 
											TA email:dksafjks@umd.edu<br>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><br />
					
	   				<div class="list-group">
	   					<br><h3> Upload Syllabus</h3>
						<label> <input type="file" onchange ="uploadSyllabus();" id="fileToBeUploaded" name="file" accept="application/pdf" /></label><br>
						<span><a th:if="${fileExists}" onclick="downloadSyllabusFile('downloadSyllabus')" href="javascript:void(0)" title="Click here to download the current syllabus for this course">Click here to download the current syllabus for this course</a></span>
						<form id = "downloadSyllabus" action = "downloadSyllabus"><input id="downloadSyllabusInfo" th:value=${courseId} type="hidden" name="fileName"></form>
						<input type="hidden" id=userID name=userID th:value=${userID}></input>
						<input type="hidden" id=courseId name=courseId th:value=${courseId}></input>
					</div>	
					
	   				<div th:if=${fileExists} class="list-group">
	   					<br><h3> Publish/Unpublish Syllabus</h3>
						<a th:if="!${published}" th:href="@{/ins/instructorTabs/publish/} + ${courseId}" class="btn btn-warning" style="width: fit-content;">Publish (Currently unpublished)</a>
						<a th:if="${published}" th:href="@{/ins/instructorTabs/unPublish/} + ${courseId}" class="btn btn-warning" style="width: fit-content;">UnPublish (Currently published)</a>
						<input type="hidden" id=userID name=userID th:value=${userID}></input>
					</div>
					<br><br><br>
					<!--the table and score arrangement-->
					<div class="row">
						<div class="col-12 col-sm-6 col-md-8">
							<h4>
								<i class="fa fa-file-text-o"></i> Schedule
							</h4>

							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Info</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">Mon Sep 4, 2017</th>
										<td>Prerequisite knowledge Quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div> <br /> <br />


            <div role="tabpanel" class="tab-pane fade show" id="student">

                <div class="container container1">
                    
                    <h2 style="text-align:center">Student lists</h2> <br /><br />
                    
                    <table id="studentTable" class="display">
                        <thead>
                           <tr>
                                <th> Student ID</th>
                                <th> Student Name</th>
                                <th> Student Email</th>
                           </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="stu : ${studentList}">
                                <tr>
	                                <td th:text="${stu.userID}"></td>
	                                <td th:text="${stu.name}"></td>
	                                <td th:text="${stu.email}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade show" id="assignment">
                <div class="container container1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Due Time</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="ua : ${userAssignemnts}">
	                            <tr>
	                                <td th:text="${ua}"></td>
	                                <td> 12/06/2017</td>
                                    <td> <a href="" style="color: blue"> Link</a></td>
	                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div> <br /> <br />
				<script type="text/javascript" th:src="@{/resources/js/filemanager.js}"></script>
				
				<div class="card">
					<div><h3>Create new assignment</h3></div><br>
					<label> <input type="file" onchange ="uploadAssignment();" id="fileToBeUploaded2" name="file" accept="application/pdf" /></label><br>
                    <p>Assignment Name:  <input id=AssignmentName value=AssignmentName type="text" name="AssignmentName" /> </p>					
					<input type="hidden" id=userID name=userID th:value=${userID}></input>
					<input type="hidden" id=courseId name=courseId th:value=${courseId}></input>
				</div>
			</div>

            <div role="tabpanel" class="tab-pane fade show" id="grading">

				<div class="container container1">
					<div class="alert alert-info" role="alert" style="margin-top: 20px">
					
						<!-- assignment discription -->
						<h4 class="alert-heading">Assignment 1</h4>
						<p>Page 664 Review Questions: 20.7 20.8 Problems: 20.6,20.7,
							20.10, 20.13 (Part (a) only), 20.14, 20.16</p>
						<div class="row">
							<div class="col-md-3">
								<!-- get pervious student hw -->
								<button type="button" class="btn btn-info" style="width: 200px">Previous
									Student</button>
							</div>
							<div class="col-md-3">
								<!-- instructor can search by student name -->
								<div class="dropdown">
									<button class="btn dropdown-toggle" type="button"
										data-toggle="dropdown">
										Student Name <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Alice</a></li>
										<li><a href="#">Bob</a></li>
										<li><a href="#">Peter</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<!-- get next student hw -->
								<button type="button" class="btn btn-info" style="width: 200px">Next
									Student</button>
							</div>
						</div>
					</div>

					<div>
						<form action="" method="post">
						    <p>Download assignment and grading it with comments </p>
                    			<input type="Submit" value="download">
						</form>

						<form action="" method="post">
							Grade: <br />
							<input type="text" name="grading" id=""><br />
							Comments: <br>
							<textarea rows="5" name="comments" id=""></textarea><br />
							<input type="submit" value="Grading">
						</form>
                    </div>
				</div>
			</div>
        </div>
    </div>
</body>


<!-- footer here -->
<footer>
    <div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>
</html>



