<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- header here-->
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="fragments/header ::head"></th:block>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css">

<title>course</title>
</head>


<!-- body here -->
<body>

    <div th:insert="fragments/header ::umdHeader" class='no-print'></div>

	<div class="container">
	
        <div th:replace="fragments/header ::ezcommHeader" class='no-print'></div> 
        
		<!--navigation bar-->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active" 
				id="syllabus-tab" data-toggle="tab"  role="tab"
				aria-controls="Syllabus" aria-selected="true">Syllabus</a></li>
			<li class="nav-item"><a class="nav-link" id="assignment-tab"
				data-toggle="tab"  role="tab" 
				aria-controls="assignment" aria-selected="false" onclick="goAssignmentPage(this)">Assignment</a></li>`

			<li class="nav-item"><a class="nav-link " id="grades-tab"
				data-toggle="tab"  role="tab" aria-controls="grade" herf="#grade"
				aria-selected="false" onclick="goGradePage(this)">Grade</a></li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<!--------------syllabus page---------------------->
			<br>
			<div class="tab-pane fade show active" id="syllabus" role="tabpanel"
				aria-labelledby="syllabus-tab">
			
					<!--the course information and teacher information-->
					<div class="row courseinfo">
						<div class="col-12 col-sm-6 col-md-8">
							<div class="card">
								<div class="card-header">
									<h4 class="mb-0">
										<i class="fa fa-info-circle" style="font-size: 24px"></i>
										Course Description
									</h4>
								</div>
								<div class="card-body">
										<p>Introduction to the Engineering and Computing
											professions, professional ethics. Overview of ECS curricula,
											connections among ECS fields and to the basics of sciences,
											other fields. Basic study, problem solving and other skills
											needed to succeed as an ECS major. Engineering design and
											quantitative methods using MATLAB. Multi-disciplinary team
											projects designed to replicate decision processes in
											real-world situations.</p>								
								</div>
							</div>
						</div>

						<div class="col-6 col-md-4 teacher">
							<div id="accordion" role="tablist">
								<div class="card">
									<div class="card-header">
										<h4 class="mb-0">
											<i class="fa fa-info-circle"
											style="font-size: 24px"></i>
											Intructor Information
										</h4>
									</div>
									<div id="collapseOne" class="collapse show" role="tabpanel"
										aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											Email:isososo@umd.edu<br> Office hours: Tue 5pm-7pm<br> 
											Office room: ...<br> 
											TA email:dksafjks@umd.edu<br>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					
					<br>
					<!--the table and score arrangement-->
					<div class="row scheduleinfo">
						<div class="col-12 col-sm-6 col-md-8">
							<h4>
								<i class="fa fa-file-text-o"></i> Schedule
							</h4>

							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Info</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">Mon Sep 4, 2017</th>
										<td>Prerequisite knowledge Quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
									<tr>
										<th scope="row">Sun Sep 10, 2017</th>
										<td>Use Case Assignment</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>

									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>

									<tr>
										<th scope="row">Tue Sep 5, 2017</th>
										<td>Software Engineering Ethics quiz</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--graph-->
						<div class="col-6 col-md-4 teacher">
							<div class="text-center">
								<img src="/Resource/img/Grade_Distribution_Pie_Chart.png"
									class="distribution" alt="grades">
							</div>
						</div>
					</div>
				
			</div>

		</div>

	</div><!-- end of whole container -->	
	<br>


	<script>
		function goAssignmentPage(id)
		{
		window.location.href = "courseAssignment"
		}

		function goGradePage(id)
		{
		window.location.href = "courseGrade"
		}
	</script>


</body>


 <!-- footer here -->
<footer>
	<div th:insert="fragments/footer ::footer" class='no-print'></div>
</footer>

</html>

