<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Log In</title>
<th:block th:replace="fragments/header ::head"></th:block>

</head>

<body class="login">

    <div th:insert="fragments/header ::umdHeader" class='no-print'></div> <br/> <br/> <br/>
    
    <p class="error" th:if="${dataError}">There are some problems to access database.</p>
    <p class="error" th:if="${illegalUser}">Invalid user email or password, try again.</p>
            
	<div class="login_m">
		<div class="login_boder">
		
		     
            
			<form action="/EZComm/login" method="post">
				<div class="login_padding" id="login_model">
					<h2>User Email</h2>
					<label> <input type="text" name="userEmail"
						id="txtUserName" class="txt_input txt_input2" required="required">
					</label>
					<h2>Password</h2>
					<label> <input type="password" name="userPasd"
						id="txtPassd" class="txt_input" required="required">
					</label>

					<div class="rem_sub">
						<div class="rem_sub_l">
							<label><a class="forgotPw" id="iforget" href="resetPWD">Forgot
									your password?</a></label>
						</div>
						<label> <input type="submit" class="sub_button"
							name="button" id="button" value="Log In" style="opacity: 0.7;">
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
</body>

<div th:insert="fragments/footer ::footer" class='no-print'></div>

</html>
