<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<th:block th:fragment="head">
    <link rel="stylesheet" th:href="@{/resources/css/style_home.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/style_course.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/style_login.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/utility.css}" type="text/css">
    
</th:block>

</head>

<body>
    <div th:fragment="umdHeader">
        <script src="https://umd-header.umd.edu/build/bundle.js?search=0&search_domain=&events=0&news=0&schools=0&admissions=0&support=0&support_url=&wrapper=1100&sticky=0"></script>
    </div>

	<div th:fragment="ezcommHeader" class="container">
		<!--navigation-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/EZComm"><img th:src="@{/resources/background/logo.png}"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown">
					   <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" 
					       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Course </a>
					   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					       <th:block th:each="course : ${userCourses}" class="card-body">
                            <a href="courseInfo" th:text="${course.ID}" class="card-text">Course ID</a>
                            </th:block>
						</div>
					</li>
					
					<li class="nav-item"><a class="nav-link" href="messages">Messages</a> </li>
					
					<li class="nav-item"><a class="nav-link " href="grades">Grades</a> </li>
					
					<li class="nav-item"><a class="nav-link " href="profiles">Profile</a> </li>
					
				</ul>
				
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
			
		</nav>
	</div>
</body>
</html>